.element__delete {
    transition: opacity 0.3s ease-in-out;
    width: 18px;
    height: 20px;
    background: url('../../../images/Delete.svg') center no-repeat;
    font-size: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 15px;
}

.element__delete:hover {
    opacity: 0.6;
}