.popup__container {
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    max-width: 430px;
    min-height: 200px;
    padding: 34px 36px 37px;
    width: 100%;
}