.profile__add-place {
  margin: 0 0 0 auto;
  padding: 0;
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  transition: all 0.4s ease-in-out;
  background: transparent url("../../../images/plus_svg.svg") no-repeat center;
  cursor: pointer;
  background-size: 22px 22px;
}

@media screen and (max-width: 900px) {
  .profile__add-place {
    margin: 0;
    width: 282px;
    background-size: 16px 16px;
  }
}

.profile__add-place:hover {
  opacity: 0.6;
}