.element__likes {
    background: transparent url(../../../images/Likes.svg);
    height: 19px;
    width: 22px;
    cursor: pointer;
    border: none;
}

.element__likes:hover {
    opacity: 0.5;    
}